.navbar{
    background: tomato;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    box-shadow: 0 1px 1px grey;
}
.navbar-title{
    position: relative;
    left: 50px;
}
.navbar-search{
    position: relative;
    right: 50px;
}
#search-bar{
    color: #fff;
}